[Unit]
Description=Commandline Utility that automates git commits

[Service]
ExecStart=/home/codam/commit/commit.sh

[Install]
WantedBy=multi-user.target
